.elementor-428 .elementor-element.elementor-element-4bd36aa .gallery-item{padding:0 30px 30px 0;}.elementor-428 .elementor-element.elementor-element-4bd36aa .gallery{margin:0 -30px -30px 0;}.elementor-428 .elementor-element.elementor-element-4bd36aa .gallery-item .gallery-caption{text-align:center;}